{% extends 'base.html' %} 
{% block content %}

<!-- About us -->
<div class="about">
    <div class="col-sm-8 col-centered text-center">
        <h1>500 ERROR</h1>
        <h2>Something went wrong....</h2>
        <div class="row">
        	<p>Try that again and if it still doesn't work, let us know</p>
        	<p><a href="{% url 'home' %}">Go back to home page</a></p>
        	<p><a href="http://puddles.london/">Visit http://puddles.london</a></p>
        </div>
    </div>
</div>
{% endblock %}