{% extends 'base.html' %} 
{% block content %}
<div class="about">
    <div class="col-xs-10 col-centered text-center">
        <h2>A little bit different birthday party...</h2>
        <div class="row">
        	<p>We are your local kids party entertainers from North London. In exchange for helping us find our treasure, we’ll throw a big birthday party with Pirates and Fairies crew! We have treasure sacks, pirate coins and hats for all our crew. We’ve also got face painting and balloon swords, giant bubbles, pass the parcel, musical statues, and a music! We have a sound system and we’re not afraid to use it!</p>
        	<p>We can also do party bags, a photographer, some food, and of course a big pirate birthday cake!</p>
        	<p>To find out more visit our <a href="http://www.puddles.london/" target="_blank">website</a> or <a href="{% url 'contact' %}">contact us</a>.</p>
        </div>
    </div>
</div>
{% endblock %}