{% load staticfiles %}
<footer class="footer">
        <div>
            <ul>
                <li><a class="footer_link" href="http://www.puddles.london/">Website</a></li>
                <li><a class="footer_link" href="http://www.facebook.com/puddles.events">Facebook</a></li>
                <li><a class="footer_link" href="https://www.instagram.com/puddles.london/">Instagram</a></li>
                <li><a class="footer_link" href="https://twitter.com/puddleslondon">Twitter</a></li>
            </ul>
        </div>
        <div>
            <p class="footer_copyright">Copyright &#xA9; Puddles. </p>
        </div>
</footer>