
{% extends 'base.html' %} {% block content %}
<div class="venues">
    <div class="col-xs-8 col-centered text-center">
        {% for venue in venue_list %}
            <h2>{{venue.name}}</h2>
                <div class="row">
                <p>{{venue.description}}</p>
                </div>
                <div>
                <p><strong>Location: {{venue.location}}</strong></p>
                <p>Parking: {{venue.parking}}</p>
                <p>Groups from: {{venue.group_min}} to {{venue.group_max}}</p>
                <p>Catering: {% if venue.catering %} yes {% else %} no {% endif %}</p>
                <p>BYO Food: {% if venue.own_food %} yes {% else %} no {% endif %}</p>
                <br>
                <br>
            </div>
        {% endfor %}
        <p>To find out more visit our <a href="http://www.puddles.london/venues/" target="_blank">website</a> or <a href="#">contact us</a>.</p>
    </div>
</div>
{% endblock %}