{% extends 'base.html' %} 
{% block content %}

<div class="venues">
    <div class="col-sm-8 col-centered text-center">

    <!-- Filter -->
        <form method="get" action=".">
            <div class="panel panel-default">
            <h4>Search for a venue:</h4>
            <div>
                {{ filter.form.as_p }}
            </div>
            <div>
                <button type="submit" class="btn">Search</button>
            </div>
            </div>
        </form>
  
        <!-- Display venues -->
            
        {% for venue in filter.qs %}
            <h2>{{venue.name}}</h2>
            <div class="row">
                <p>{{venue.description}}</p>
            </div>
            <div>
                <p><strong>Location: {{venue.address_1}},{% if venue.address_2 %} {{venue.address_2}},{% endif %} {{ venue.post_code}} {{venue.city}}</strong></p>
                <p>Parking: {{venue.parking}}</p>
                <p>Groups from: {{venue.group_min}} to {{venue.group_max}}</p>
                {% for plan in venue.price_plans.all %}
                    <p> {{ plan }}: YES </p>
                {% endfor %}
                <br>
                <br>
            </div>
        {% endfor %}

        <p>To find out more visit our <a href="http://www.puddles.london/venues/" target="_blank">website</a> or <a href="#">contact us</a>.</p>
    </div>
</div>
{% endblock %}